<!DOCTYPE html>
<title>Melhores Ações</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
<h1>Melhores Ações</h1>
<p><span style="font-size:16px">Empresas mais seguras para investimento ( <strong>B</strong>ancos <strong>E</strong>nergia <strong>S</strong>aneamento <strong>S</strong>eguro <strong>T</strong>elecom )</span></p>
<body>
Ações, também chamadas simplesmente de "papéis", são as parcelas que compõem o capital social de uma empresa, ou seja, são as unidades de títulos emitidas por sociedades anônimas. Quando as ações são emitidas por companhias abertas ou assemelhadas, são negociados em bolsa de valores ou no mercado de balcão
</p></body>

{% block conteudo %}

{% endblock conteudo %}

</html>
